<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <div class="container">
            <div class="alert alert-danger" role="alert">
                <%= err._message %>
                    <%= err.message %>
            </div>
        </div>
    </body>